.wrapper {
    min-height: 100%;
    height: auto;
    color: #1E1B1B;
}

.container {
    max-width: 1290px;
    padding: 0px 15px;
    margin: 0 auto;
}

.button {
    padding: 16px 40px;
    background-color: #FF6433;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.15);
}

.title {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
}


.titleh3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    background-color: transparent;
}

/*=================================================== header ===================================================*/
/*=================================================== header ===================================================*/
.header {
    font-family: manrope, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    padding-bottom: 135px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 90px;
}

.header__list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__item {
    font-size: 16px;
    margin-right: 40px;
    transition: 0.3s;
}

.header__item:hover,
.header__text:hover {
    color: #FF6433;
}

.header__item:last-child {
    margin-right: 64px;
}

.header__contact {
    display: flex;
    position: relative;
    height: 56px;
    width: 181px;
    align-items: center;
    align-self: center;
}

.header__text-gray {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(30, 27, 27, 0.7);
}

.header__call-icon {
    width: 40px;
    margin-right: 14px;
    transition: 0.3s;
}

.header__text {
    display: inline-block;
    transition: 0.3s;
}

.header__contact::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 42px;
    background-color: rgba(147, 145, 145, 0.36);
    left: -32px;
}

.header__call-icon:hover {
    transform: scale(1.15);
}

.header__main {
    width: 624px;
}

.header__title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    padding-top: 82px;
}

.header__flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.header__btn-box>span {
    vertical-align: middle;
    line-height: 24px;
}

.header__button {
    margin-right: 33px;
    margin-bottom: 48px;
}

.header__play {
    padding: 12px 8px 12px 16px;
    vertical-align: middle;
    transition: 0.3s;
}

.header__play:hover {
    transform: scale(1.25);
}

.header__work-time {
    display: flex;
    width: 375px;
}

.header__time-icon {
    margin-right: 13px;
}

.header__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 632px;
    width: 655px;
    background: url("../assets/img/1header/Image.jpg") 50% 50% /contain no-repeat;
}

.header__service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 282px;
    height: 102px;
    background: #fff;
    border-radius: 59px;
    font-size: 24px;
    line-height: 102px;
    font-weight: 600;
    letter-spacing: -0.03em;
    box-shadow: 0px 0px 5px 2px rgba(109, 108, 115, 0.12);
    transition: 0.3s;
    margin-top: 81px;
}

.header__service:hover {
    box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.43);
}

.header__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 70px;
    gap: 15px;
    width: 326px;
    height: 102px;
    background: #fff;
    border-radius: 59px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: -0.03em;
    box-shadow: 0px 0px 5px 2px rgba(109, 108, 115, 0.12);
    transition: 0.3s;
}

.header__rating:hover {
    box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.43);
}

.header__service-hour {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5CBA99;
}

.header__service-hour::before {
    position: absolute;
    content: "24";
    font-size: 24px;
    bottom: -15px;
    left: 13px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.header__service-hour::after {
    position: absolute;
    content: "hr";
    font-size: 16px;
    bottom: -18px;
    right: 9px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.rateYo {
    display: inline-block;
}

.header__rating-text {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    line-height: 150%;
}

.header__rating-number {
    line-height: 150%;
    display: block;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 0.5);
}

.header__rating-box {
    width: 56px;
}

.header__play-text {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.header__play-text:hover {
    color: #FF6433;
}

.main {
    font-family: manrope, sans-serif;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 8px;
}

/*=================================================== offer ===================================================*/
/*=================================================== offer ===================================================*/

.offer__header {
    text-align: center;
    margin-bottom: 64px;
}

.offer {
    background-color: #F2F2F2;
    padding-top: 128px;
    padding-bottom: 13px;
}

.offer__grid {
    display: grid;
    grid-template-columns: repeat(4, 316px);
    grid-template-rows: repeat(2, 232px);
    grid-gap: 8px 8px;
}

.offer__grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    gap: 12px;
}

.offer__grid-text {
    margin-bottom: 62px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.offer__grid-item:hover img {
    filter: invert(100%);
}

.offer__grid-item:hover {
    color: #fff;
    background-color: #FF6433;
}

.offer__more span {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    vertical-align: middle;
    margin-right: 16px;
}

.offer__more img {
    vertical-align: middle;
    transition: 0.3s;
}

.offer__more {
    display: block;
    width: 247px;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 28px;
}

.offer__rectangle {
    width: 100%;
    height: 87px;
    background-color: #D9D9D9;
}

.offer__more:hover {
    color: #FF6433;
}

.offer__more:hover img {
    transform: scale(1.15);
}

/*===================================================== blog =====================================================*/
/*===================================================== blog =====================================================*/

.blog__header {
    margin-bottom: 47px;
    padding-top: 131px;
}

.blog__list {
    display: flex;
    gap: 30px;
    margin-bottom: 46px;
}

.blog__item {}

.blog__grid {
    display: grid;
    grid-template: repeat(2, 606px) / repeat(3, 405px);
    grid-gap: 64px 32px;
    padding-bottom: 136px;
}

.blog__card {
    cursor: pointer;
    transition: 0.3s;
}

.blog__card:hover {
    box-shadow: 15px 15px 0px #D9D9D9;
}

.blog__item button {
    transition: 0.3s;
    cursor: pointer;
}

.blog__item:hover button {
    color: #FF6433;
}

.blog__title--active {
    color: #FF6433;
}

.blog__subtitle {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
    margin: 24px 0px 16px;
}

.blog__text {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

/*===================================================== Process =====================================================*/
/*===================================================== Process =====================================================*/

.process__inner {
    display: flex;
    justify-content: space-between;
    padding: 134px 0px;
}

.process__left {
    margin-right: 100px;
    width: 524px;
    min-width: 524px;
}

.process__header {
    margin-bottom: 16px;
}

.title {}

.process__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: rgba(30, 27, 27, 0.6);
}

.process__button {
    margin-top: 32px;
}

.button {}

.process__right {
    width: 325px;
    min-width: 325px;
    margin-right: 200px;
}

.process__title {
    position: relative;
    margin-bottom: 8px;
}

.titleh3 {}

.process__rightText {
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 175%;
    position: relative;
}

.process__title--01:before {
    position: absolute;
    content: "01";
    width: 72px;
    height: 72px;
    background-color: #661CE7;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 72px;
    left: -96px;
    top: -10px;
}

.process__title:after {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.24);
    ;
    border-radius: 50%;
    left: -81px;
    top: 41px;
}

.process__title--02:before {
    position: absolute;
    content: "02";
    width: 72px;
    height: 72px;
    background-color: #661CE7;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 72px;
    left: -96px;
    top: -10px;
}

.process__title--03:before {
    position: absolute;
    content: "03";
    width: 72px;
    height: 72px;
    background-color: #661CE7;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 72px;
    left: -96px;
    top: -10px;
}

.process__rightText::after {
    position: absolute;
    content: "";
    height: 71px;
    width: 2px;
    /*border-left: 2px dashed #FF6433;*/
    left: -60px;
    bottom: 5px;
    background: linear-gradient(to top, #fff 50%, #FF6433 50%) 0% 0% /2px 8px repeat-y;
}

.process__rightText:last-child::after {
    display: none;
}