.test1 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
}
.test2 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
}
.test3 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
}
.test4 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 800;
}
.test5 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}